
.search-1 {
    position: relative;
    width: 80%;
}

.search-1 input {
    height: 45px;
    border: none;
    width: 80%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee;
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

.search-1 i {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 22px;
    color: #8fc04e;
}

::placeholder {
    color: gray;
    opacity: 1
}

.search-2 {
    position: relative;
    width: 100%
}

.search-2 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-2 i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #8fc04e;
}

.search-2 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 40px;
    background-color: #8fc04e;
    color: #fff;
    width: 80px;
    border-radius: 4px
}

@media (max-width:800px) {
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #eee
    }

    .search-2 i {
        left: 4px
    }

    .search-2 input {
        padding-left: 34px
    }

    .search-2 button {
        height: 37px;
        top: 5px
    }
}